#followers {
    list-style-type: none;
    padding: 0;
}

#followers li {
    padding: 10px;
    border-bottom: 1px solid #fff;
    color: #0b0a0a;
    margin: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.heart {
    cursor: pointer;
    float: right;
    font-size: 24px;
}

.followed .heart {
    color: #f81616;
}

.unfollowed .heart {
    color: #0b0a0a;
}


#following-list {
    position: absolute;
    top: 50%;  /* 중앙으로 정렬 */
    left: 50%;  /* 중앙으로 정렬 */
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    transform: translate(-50%, -50%);  /* 중앙으로 정렬 */
    border: 2px solid #ccc;
    text-align: center;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    background-color: #bc23b0;
    padding: 10px;
    border-radius: 4px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    background-color: #f1f1f1;
    color: #0b0a0a;
}

ul li:last-child {
    border-bottom: none;
}

ul li:nth-child(odd) {
    background-color: #e6e6e6;
}

#status-window {
    border: 2px solid #ffffff;
    background: linear-gradient(45deg, #bc23b0, #bc23b0, #bc23b0);
    background-size: 400% 400%;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    animation: gradient 5s ease infinite, shimmer 1.5s infinite alternate;
}

#status-window h3 {
    margin-top: 20px;
    font-size: 2em;
    text-shadow: 2px 2px 4px #000000;
}

#status {
    padding: 10px;
    font-size: 1.2em;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes shimmer {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
    }
}

.follow-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

#status-window h3, #status-window #status {
    color: #fff;
}