<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LAFESTA</title>

    <link href="../../../../../Likefesta_front/css/slides.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" as="font"
          href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>
    <link rel="stylesheet" href="../../../../../Likefesta_front/css/slides.css">

    <script src="../../../../../Likefesta_front/js/slides.js"></script>
    <script src="../../../../../Likefesta_front/js/jquery.min.js"></script>
    <script src="../../../../../Likefesta_front/js/plugins.js"></script>

</head>

<body class="background" style="background-image:url(../../../../../Likefesta_front/assets/img/background/img-12.jpeg)"></body>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
    <symbol id="logo" viewBox="0 0 212 62"><title>lafesta logo</title>
        <image x="0" y="0" width="212" height="62" href="assets/img/logo-s1.png"/>
    </symbol>
</svg>


<div class="left">
    <a href="index.html" title="Slides Framework">
        <img src="../../../../../Likefesta_front/assets/img/logo-s1.png" width="270" height="240" alt="lafesta logo">
    </a>
</div>

</html>