<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>워터밤 페스티벌</title>
    <link rel="icon" href="/images/logo1.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/festival.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <script src="/js/post.js"></script>
</head>

<body></body>

<div id="festival-post" class="festival-wrapper">
    <div class="festival-header">
        <h1><!--제목--></h1>
        <p><!--위치--></p>
        <p><!--날짜--></p>
    </div>

    <div class="festival-content">
        <img src="/images/best1.jpg" alt="축제 이미지" class="festival-image">
        <p class="festival-description"><!--설명--></p>

        <!-- 관리자 인증시 수정 버튼 활성화 -->
        <button id="edit-button" style="display: none;">포스트 수정</button>

        <div id="post-review" class="reviews">
            <div class="reviews">
                <div class="review-item">
                    <p><a href="#"><!--리뷰 제목--></a><strong><!--리뷰 작성자--></strong></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
</script>

</html>