<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>워터밤 페스티벌</title>

    <link rel="stylesheet" href="../../../../../Likefesta_front/css/festival.css">
</head>

<body>
<div class="festival-wrapper">
    <div class="festival-header">
        <h1>워터밤 페스티벌</h1>
        <p>8월 27일 ~ 8월 28일 | 잠실 종합운동장</p>
    </div>

    <div class="festival-content">
        <img src="../../../../../Likefesta_front/assets/img/best1.jpg" alt="축제 이미지" class="festival-image">
        <p class="festival-description">물총을 쏘면서 즐기는 국내 최대 규모의 워터 페스티벌! 한번도 안가본 사람은 있어도 한번만 간 사람은 없다는 바로 그 축제!</p>

        <!-- 관리자 인증시 수정 버튼 활성화 -->
        <button id="edit-button" style="display: none;">포스트 수정</button>

        <div class="reviews">
            <div class="reviews">
                <div class="review-item">
                    <p><a href="review-show.html">정말 재밌었어요! 다음에도 참여하고 싶네요.</a><strong> [ 이용자A ]</strong> </p>
                </div>
                <div class="review-item">
                    <p><a href="review-show.html">물총 싸움이 너무 재밌었습니다!</a> <strong> [ 이용자B ]</strong> </p>
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    // document.getElementById('edit-button').style.display = 'block';
</script>
</body>
</html>
