<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>페스티벌 포스트 수정</title>
    <link rel="icon" href="/images/logo1.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/festival-3.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<form id="festival-edit">
    <div id="festival-edit-form">
        <div style="margin-left: 30px">
            <label for="titleInput">페스티벌 이름</label>
            <input type="text" id="titleInput" name="titleInput" required><br><br>

            <div style="display: grid; grid-template-columns: repeat(2, 1fr); width: 100%">
                <div style="width: 90%">
                    <label for="openDateInput">시작 일시</label>
                    <input type="datetime-local" id="openDateInput" name="openDateInput" required><br><br>
                </div>

                <div style="width: 90%">
                    <label for="endDateInput">종료 일시</label>
                    <input type="datetime-local" id="endDateInput" name="endDateInput" required><br><br>
                </div>
            </div>

            <label for="placeInput">페스티벌 장소</label>
            <input type="text" id="placeInput" name="placeInput" required><br><br>

            <label for="contentInput">페스티벌 설명</label>
            <textarea id="contentInput" name="contentInput" required></textarea><br><br>

            <label for="imageInput">페스티벌 이미지</label>
            <input type="file" id="imageInput" name="imageInput" accept="image/*"><br>
            <img id="preview-image" width="200" alt=""><br><br>

            <div style="display: grid; grid-template-columns: repeat(2, 1fr); width: 100%">
                <div style="width: 90%">
                    <label for="reservationOpenDateInput">예매 오픈 일시</label>
                    <input type="datetime-local" id="reservationOpenDateInput" name="reservationOpenDateInput"
                           required><br><br>
                </div>

                <div style="width: 90%">
                    <label for="reservationPlaceInput">예매처</label>
                    <input type="text" id="reservationPlaceInput" name="reservationPlaceInput" required><br><br>
                </div>
            </div>
            <label for="officialLinkInput">페스티벌 웹사이트/링크</label>
            <input type="url" id="officialLinkInput" name="officialLinkInput" required><br><br>
            <label for="addTagInput">태그</label>
            <div id="tags-input-container">
                <a id="addTagInput" onclick="addTagInput()" style="color: #3b5998">추가</a>
            </div>
            <br><br>
        </div>
    </div>
</form>

<script src="/js/festival-edit.js"></script>
</body>
</html>
