<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="slide fade-6 kenBurns" data-name="download">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-6-12">
                    <h1 class="huge ae-1 margin-bottom-2">Download Mobile App</h1>
                    <p class="hero ae-2 margin-bottom-3"><span
                            class="opacity-8">Learning never exhausts the mind.</span></p>

                    <form action="#" autocomplete="off" class="slides-form margin-bottom-3">
                        <input type="email" class="ae-3" name="email" placeholder="E-mail address"/>
                        <button type="submit" class="button blue gradient ae-4" name="submit">Try it free</button>
                    </form>

                    <a href="#" class="button hollow ae-5"><img src="assets/img/appstore.jpg" height="63"/></a><a
                        href="#" class="button hollow ae-6"><img src="assets/img/googleplay.jpg" height="63"/></a>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(../../../../../Likefesta_front/assets/img/background/img-10.jpg)"></div>
</section>
<!-- Slide 3 (#27) -->
<section class="slide fade-6 kenBurns" data-name="features">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex verticalCenter">
                        <li class="col-5-12 cell-27">
                            <div class="fix-4-12">
                                <ul class="slider clickable ae-1 fromAbove" data-slider-id="27-2">
                                    <li class="selected"><img src="assets/img/watch-26-2.png"
                                                              alt="Apple Watch Thumbnail"/></li>
                                    <li><img src="assets/img/watch-26-1.png" alt="Apple Watch Thumbnail"/></li>
                                    <li><img src="assets/img/watch-26-2.png" alt="Apple Watch Thumbnail"/></li>
                                    <li><img src="assets/img/watch-26-1.png" alt="Apple Watch Thumbnail"/></li>
                                </ul>
                                <ul class="controller dots ae-2 fromCenter margin-top-3" data-slider-id="27-2">
                                    <li class="dot selected"></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                    <li class="dot"></li>
                                </ul>
                            </div>
                        </li>
                        <li class="col-7-12 left">
                            <h1 class="ae-2 fromRight">Be creative</h1>
                            <div class="ae-3 fromRight">
                                <p class="opacity-8">When we feel less secure, with less control over our daily lives,
                                    we reach out to brands to connect with a time when things seemed&nbsp;better.</p>
                            </div>
                            <div class="relative">
                                <img src="assets/img/icon-2.png" class="ae-3 fromCenter app-26" alt="app"/>
                                <div class="text-26">
                                    <h3 class="ae-3 fromRight">Ember for Apple Watch</h3>
                                    <div class="ae-5 fromRight">
                                        <p class="tiny opacity-6">People don&rsquo;t use a product<br>because of the
                                            great&nbsp;design.</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(../../../../../Likefesta_front/assets/img/background/img-7.jpg)"></div>
    <!-- Slide 5 (#1) -->
    <section class="slide fade-6 kenBurns" data-name="case">
        <div class="content">
            <div class="container">
                <div class="wrap">

                    <div class="fix-12-12 toCenter">
                        <div class="fix-7-12">
                            <p class="margin-bottom-2 ae-1"><span class="opacity-6">Case study</p>
                            <h1 class="ae-2 huge fromAbove margin-bottom-2">Discomfort is a signal of a good concept</h1>
                            <a href="#" class="button green gradient ae-3">Purchase</a>
                        </div>
                        <ul class="grid fixedSpaces left margin-top-10">
                            <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromLeft">
                                <h3>Inspiration</h3>
                                <p class="tiny opacity-6">We live in a society where everybody feels guilty.</p>
                            </li>
                            <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-5 fromLeft">
                                <h3>Creativity</h3>
                                <p class="tiny opacity-6">You don’t have to be “a creative” to be creative.</p>
                            </li>
                            <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-6 fromLeft">
                                <h3>Fashion</h3>
                                <p class="tiny opacity-6">There is no such thing as simple. Simple is hard.</p>
                            </li>
                            <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-7 fromLeft">
                                <h3>Photography</h3>
                                <p class="tiny opacity-6">Design makes what was once impossible possible.</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="background" style="background-image:url(../../../../../Likefesta_front/assets/img/background/img-8.jpg)"></div>
    </section>

</body>
</html>