<!--
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메인 페이지</title>
</head>
<body>
<h1>라페스타 홈페이지에 오신 것을 환영합니다</h1>
<p>이곳은 라페스타의 메인 페이지입니다.</p>

&lt;!&ndash; 로그인 페이지로 이동하는 버튼 &ndash;&gt;
<a href="http://localhost:8080/api/users/login-page">
    <button>로그인하러 가기</button>
</a>

&lt;!&ndash; 로그아웃 버튼 &ndash;&gt;
<form method="get" action="http://localhost:8080/api/users/logout">
    <button type="submit">로그아웃</button>
</form>
</body>
</html>-->
