<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>LAFESTA</title>
    <link rel="icon" href="/images/logo1.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/login.css">
    <link href="/css/slides.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" as="font"
          href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>
    <link rel="stylesheet" href="/css/slides.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/slides.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/plugins.js"></script>
</head>

<body class="background" style="background-image:url(/images/background/img-14.jpeg)">
<div class="left">
    <a href="/" title="Slides Framework">
        <img src="/images/logo-s1.png" width="270" height="240" alt="lafesta logo">
    </a>
</div>

<div class="login-box">
    <h2>My Badge Collection</h2>
    <form>
        <div id="badgeList"></div>
        <a href="/#mypage">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            → 프로필
        </a>
    </form>
</div>
<script src="/js/badge.js"></script>
</body>
</html>