<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>LAFESTA</title>

    <link rel="stylesheet" href="../../../../../Likefesta_front/css/login.css">
    <link href="../../../../../Likefesta_front/css/slides.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" as="font"
          href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>
    <link rel="stylesheet" href="../../../../../Likefesta_front/css/slides.css">

    <script src="../../../../../Likefesta_front/js/slides.js"></script>
    <script src="../../../../../Likefesta_front/js/jquery.min.js"></script>
    <script src="../../../../../Likefesta_front/js/plugins.js"></script>
</head>

<body class="background" style="background-image:url(../../../../../Likefesta_front/assets/img/background/img-14.jpeg)"></body>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
    <symbol id="logo" viewBox="0 0 212 62"><title>lafesta logo</title>
        <image x="0" y="0" width="212" height="62" href="assets/img/logo-s1.png"/>
    </symbol>
</svg>

<div class="left">
    <a href="index.html" title="Slides Framework">
        <img src="../../../../../Likefesta_front/assets/img/logo-s1.png" width="270" height="240" alt="lafesta logo">
    </a>
</div>

<div class="login-box">
    <h2>LFESTA Sign Up</h2>
    <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
        </div>
        <div class="user-box">
            <input type="email" name="" required="">
            <label>Email</label>
            <button type="button" id="emailConfirmBtn">확인</button>
        </div>
        <!-- 이메일 인증키 입력칸 (기본적으로 숨김) -->
        <div class="user-box" id="emailConfirmBox" style="display: none;">
            <input type="text" name="emailConfirmKey" required="">
            <label>이메일 인증키</label>
            <button type="button" id="emailConfirmKeyBtn">확인</button>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Nickname</label>
        </div>
        <!-- 사용자 유형 선택 토글 -->
        <div class="user-box">
            <select id="userType">
                <option value="user">일반 사용자</option>
                <option value="admin">관리자</option>
                <option value="organizer">주최사</option>
            </select>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>
    </form>
</div>
<script>
    $(document).ready(function () {
        // 이메일 확인 버튼 클릭 이벤트
        $("#emailConfirmBtn").click(function () {
            // 여기에 이메일 인증 로직을 추가

            // 인증키 입력칸을 표시
            $("#emailConfirmBox").show();
        });
    });
</script>
</body>
</html>