<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>LAFESTA</title>
    <link rel="icon" href="/images/logo1.png" type="image/x-icon">

    <link href="/css/slides.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" as="font"
          href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>
    <link rel="stylesheet" href="/css/slides.css">
    <link rel="stylesheet" href="/css/mypage.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
    <script src="/js/slides.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/plugins.js"></script>

</head>

<body class="background" style="background-image:url(/images/background/img-19.webp)"></body>

<div class="left">
    <a href="/" title="Slides Framework">
        <img src="/images/logo-s1.png" width="270" height="240" alt="lafesta logo">
    </a>
</div>

<div class="profile-section profile-box">
    <img src="/images/logo1.png" alt="Profile Photo" width="100" height="100">
    <div class="profile-info">
        <h2>My Info</h2>
        <ul id="profile">
            <!-- 팔로워 이름과 버튼이 여기에 자동으로 채워집니다 -->
        </ul>
    </div>
</div>
<div class="button_container">
    <button id="editProfile" href="/api/users/profile/edit-page" class="btn"><span>내 정보 수정</span></button>
    <a id="user-withdrawal" onclick="alertWithdrawal()" style="color: white; margin-top: 20px; float: right; margin-right: 20px">회원 탈퇴</a>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: `/api/users/info`,
            type: 'GET',
            success: function (data) {
                console.log(data);
                let html = `
                    <p><strong>Username</strong></p><p> ${data.username}</p>
                    <p><strong>Nickname</strong></p><p> ${data.nickname}</p>
                    <p><strong>Email</strong></p><p> ${data.email}</p>
                    <p><strong>Introduce</strong></p><p> ${data.introduce}</p>
                    <p><strong>Image</strong></p>
                    <div class="circular-image">
                    <img src="${data.files[0] ? data.files[0].uploadFileUrl
                    : 'https://vignette.wikia.nocookie.net/the-sun-vanished/images/5/5d/Twitter-avi-gender-balanced-figure.png/revision/latest?cb=20180713020754'}"
                    alt="Image Description" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                `;
                $('#profile').html(html);
            },
            error: function (err) {
                console.log('Error:', err);
            }
        });
    });

    document.getElementById('editProfile').addEventListener('click', function () {
        window.location.href = '/api/users/profile/edit-page';
    });

    function alertWithdrawal() {
        // 경고창을 띄웁니다.
        const confirmation = confirm("회원 탈퇴를 진행하시겠습니까?");

        // 사용자가 확인을 누르면 메소드를 실행합니다.
        if (confirmation) {
            window.location.href = '/api/users/withdrawal-page';
        } else {
            window.location.href = '/api/users/profile';
        }
    }
</script>
</html>