<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>LAFESTA</title>
    <link rel="icon" href="/images/logo1.png" type="image/x-icon">

    <link href="/css/slides.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" as="font"
          href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>
    <link rel="stylesheet" href="/css/slides.css">
    <link rel="stylesheet" href="/css/mypage.css">

    <script src="/js/slides.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/plugins.js"></script>
</head>

<body class="background" style="background-image:url(/images/background/img-19.webp)"></body>

<div class="left">
    <a href="/" title="Slides Framework">
        <img src="/images/logo-s1.png" width="270" height="240" alt="lafesta logo">
    </a>
</div>

<div class="profile-section">
    <img src="/images/logo1.png" alt="Profile Photo" width="100" height="100">

    <p><strong>Name</strong></p><p>임남명</p>
    <p><strong>Nickname</strong></p><p>남누</p>
    <p><strong>Email</strong></p><p>namnu0628@naver.com</p>
    <p><strong>유저 타입</strong></p><p>USER</p><br><br>
    <div class="button_container">
        <button id="editProfile" class="btn"><span>프로필 수정</span></button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: `/api/users/follows/followings`,
            type: 'GET',
            success: function (data) {
                console.log(data);
                let html = '';
                for (let i = 0; i < data.length; i++) {
                    html += `<li><a href="/api/users/${data[i].username}">${data[i].nickname}</a></li>`;
                }
                $('#followers').html(html);
            },
            error: function (err) {
                console.log('Error:', err);
            }
        });
    });
    // Edit Profile Button Click Event
    document.getElementById('editProfile').addEventListener('click', function () {
        // Redirect to Edit Profile Page (Change this URL to the actual edit page URL)
        window.location.href = '/';
    });
</script>
</html>