<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div style="margin:100px;">
  <div align="center">
    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcV3maT%2Fbtsr5fPXaRA%2F63kCuyMjFIgw1Ddrin4vZ1%2Fimg.png">
  </div>
  <div align="center" style="border:1px solid black; font-family:verdana;">
    <h3 style="font-size:130%" th:text="${content}"> </h3>
  </div>
  <br/>
</div>
</body>
</html>