<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>LAFESTA</title>
  <link rel="icon" href="/images/logo1.png" type="image/x-icon">

  <script src="/js/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/slides.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

  <link href="/css/slides.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" as="font"
        href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>
  <link rel="stylesheet" href="/css/post.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="slides horizontal simplifiedMobile animated">

<nav class="panel top">
  <div class="sections desktop">
    <div class="left">
      <a href="/" title="Slides Framework">
        <img src="/images/logo-s1.png" width="270" height="240" alt="lafesta logo">
      </a>
    </div>
    <div class="right">
      <a id="loginButton" class="button blue gradient" href="/api/users/login-page" style="display:none;">로그인</a>
      <form id="logoutForm" method="get" action="/api/users/logout" style="display:none;">
        <button class="button green gradient" type="submit">로그아웃</button>
      </form>
    </div>

  </div>
</nav>

<!-- 상단 바 -->
<nav class="sidebar" data-sidebar-id="1">
  <div class="content">
    <a href="/" class="logo">
      <svg width="37" height="30">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" src="/"></use>
      </svg>
    </a>
  </div>
</nav>

<!-- 알림 리스트 -->
<section class="slide fade-6 kenBurns" data-name="notifications">
  <div class="content">
    <div class="container">
      <div class="wrap">
        <h1 class="ae-2 fromRight">Notification List</h1>
        <div class="board">
          <ul class="notification-list">
            <div id="table">
              <table>
                <thead>
                <tr>
                  <th class="title" scope="col">Title</th>
                  <th class="title" scope="col">Detail</th>
                  <th class="title" scope="col">TimeSinceCreated</th>
                  <th class="title" scope="col">Rd</th>
                </tr>
                </thead>
                <tbody id="notification-table-body">
                </tbody>
              </table>
            </div>
          </ul>
          <!-- 페이지 네비게이션 -->
          <div class="pagination" id="pagination">
            <a href="?page=1">1</a>
            <a href="?page=2">2</a>
            <a href="?page=3">3</a>
            <a href="?page=4">4</a>
            <a href="?page=5">5</a>
            <a href="?page=6">(쪽수설정)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(/images/background/img-7.jpg)"></div>
</section>

<script src="/js/notification.js"></script>
<script>
</script>
</body>
</html>