<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="margin:100px;">
    <div align="center">
        <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FXbcoS%2FbtsrZyW9XJf%2FzTy30erAwYpjkwxG47HAb1%2Fimg.png">
    </div>
    <div style="border:1px solid black; font-family:verdana;">
        <h1 align="center" style="font-size:150%; margin-top: 20px" th:text="${mailContent}"></h1>
        <hr style="margin: 10px 20px;">
        <div style="margin-left: 30px; margin-top: 20px">
            <h3>페스티벌명: <span style="margin-left: 5px" th:text="${festivalTitle}"></span></h3>
            <h3>일시: <span style="margin-left: 5px" th:text="${festivalOpenDate}"></span></h3>
            <h3>장소: <span style="margin-left: 5px" th:text="${festivalLocate}"></span></h3>
        </div>
        <div th:if="${reservationOpenDate != null}">
            <hr style="margin: 10px 20px;">
            <div style="margin-left: 30px; margin-top: 20px">
                <h3>예매일시: <span style="margin-left: 5px" th:text="${reservationOpenDate}"></span></h3>
                <h3>예매처: <span style="margin-left: 5px" th:text="${reservationPlace}"></span></h3>
            </div>
        </div>
    </div>
    <br/>
</div>
</body>
</html>