<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Profile</title>
    <link rel="icon" href="/images/logo1.png" type="image/x-icon">

    <script src="/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

    <link href="/css/slides.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" as="font"
          href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
<nav class="panel top">
    <div class="sections desktop">
        <div class="left">
            <a href="/" title="Slides Framework">
                <img src="/images/logo-s1.png" width="270" height="240" alt="lafesta logo">
            </a>
        </div>
</nav>
<section class="slide fade-6 kenBurns" data-name="mypage">
    <div id="myPageSection" class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12 toCenter">
                    <div class="fix-7-12">
                        <p class="margin-bottom-2 ae-1"><span class="opacity-6">Profile Page</span></p>
                        <h1 class="ae-2 huge fromAbove margin-bottom-2">프로필 페이지</h1>
                        <h3>0</h3>
                        <p>게시물</p>
                        <h3>0</h3>
                        <p>팔로워</p>
                        <h3>0</h3>
                        <p>팔로잉</p>
                    </div>
                    <ul class="grid fixedSpaces left margin-top-10">
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromLeft">
                            <h3>대표 벳찌</h3>
                            <div id="representative-badges">
                                <div class="image-container">
                                    <img src="/images/logo-s3.png" alt="이미지 설명">
                                </div>
                                <p class="tiny opacity-6">라페스타 개근</p>
                            </div>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-6 fromLeft">
                            <h3>페스티벌 팔로우 List</h3>
                            <p id="my-follow-festival" class="tiny opacity-6"></p>
                            <button><a id="load-festival-follow" class="load-festival-follow">more</a></button>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-7 fromLeft">
                            <h3>유저 팔로잉 List</h3>
                            <p id="my-following-list" class="tiny opacity-6"></p>
                            <button><a id="load-following" class="load-following">more</a></button>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-7 fromLeft">
                            <h3>유저 팔로워 List</h3>
                            <p id="my-follower-list" class="tiny opacity-6"></p>
                            <button><a id="load-follower" class="load-follower">more</a></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="myPageHiddenSection" class="content" style="display: none">
        <div class="container">
            <div class="wrap">
                <div class="fix-12-12">
                    <ul class="flex fixedSpaces verticalCenter reverse">
                        <li class="col-6-12 left middle">
                            <h1 class="ae-1 fromLeft">모든 축제의 시작과 끝 LAFESTA</h1>
                            <p class="ae-2 fromLeft"><span class="opacity-8">라페스타와 함께 어떤 축제가 기다리고 있는지 확인해보세요!</span>
                            </p>
                            <a class="button blue gradient ae-3 fromCenter cropLeft"
                               href="/api/users/sign-up">라페스타 함께하기</a>
                        </li>
                        <li class="col-6-12">
                            <img class="ae-4" width="605" src="/images/logo6.png" alt="iPhones Thumbnail"
                                 data-action="zoom"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/background/img-15.jpg)"></div>
</section>
</body>
</html>