<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>페스티벌 포스트 신청</title>
    <link rel="icon" href="/images/logo1.png" type="image/x-icon">

    <link rel="stylesheet" href="/css/festival-2.css">
</head>

<body>
<form action="/submit-festival" method="post" enctype="multipart/form-data">
    <label for="festival-name">페스티벌 이름</label>
    <input type="text" id="festival-name" name="festival-name" required><br><br>

    <label for="start-date">시작 날짜</label>
    <input type="date" id="start-date" name="start-date" required><br><br>

    <label for="end-date">종료 날짜</label>
    <input type="date" id="end-date" name="end-date" required><br><br>

    <label for="festival-location">페스티벌 장소</label>
    <input type="text" id="festival-location" name="festival-location" required><br><br>

    <label for="festival-description">페스티벌 설명</label>
    <textarea id="festival-description" name="festival-description" required></textarea><br><br>

    <label for="festival-image">페스티벌 이미지</label>
    <input type="file" id="festival-image" name="festival-image" accept="image/*" required><br><br>

    <label for="festival-link">페스티벌 사이트링크</label>
    <input type="url" id="festival-link" name="festival-link" required><br><br>

    <input type="submit" value="페스티벌 신청">
</form>
</body>
</html>
