<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>LAFESTA - 리뷰 수정</title>
    <link rel="icon" href="/images/logo1.png" type="image/x-icon">

    <link href="/css/slides.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" as="font"
          href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>
    <link rel="stylesheet" href="/css/slides.css">
    <link rel="stylesheet" href="/css/review.css">

<!--    <script src="/js/slides.js"></script>-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/plugins.js"></script>
</head>

<body class="background" style="background-image:url(/images/background/img-12.jpeg)">

<div class="left">
    <a href="/" title="Slides Framework">
        <img src="/images/logo-s1.png" width="270" height="240" alt="lafesta logo">
    </a>
</div>

<div id="review-edit-form" class="review-form">

        <div>
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" required>
        </div>

        <div>
            <label for="content">내용:</label>
            <textarea id="content" name="content" rows="4" required></textarea>
        </div>

        <div>
            <label>기존 첨부파일:</label>
            <img class="uploaded-image" src="/images/best1.jpg" alt="Uploaded image">
        </div>

        <div>
            <label for="new-file">새로운 첨부파일:</label>
            <input type="file" id="new-file" name="new-file">
        </div>

        <div>
            <button type="submit">변경사항 저장</button>
        </div>

</div>
<script src="/js/review-edit.js"></script>
</body>
</html>
