<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaFesta 회원가입</title>
</head>
<body>
<h1>환영합니다! 지금 바로 LaFest와 함께하세요!</h1>

<!-- 회원가입 폼 -->
<h2>회원가입</h2>
<button onclick="goHome()">메인화면</button>
<button onclick="goLogin()">로그인</button>
<form id="signupForm">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <label for="nickname">Nickname:</label>
    <input type="text" id="nickname" name="nickname" required><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <button type="button" id="sendVerification">인증 메일 발송</button>
    <div id="verificationContainer" style="display: none; margin-top: 20px">
        메일에 발송된 인증코드를 입력해주세요!
        <br>
        <label for="verificationCode">인증코드:</label>
        <input type="text" id="verificationCode" name="verificationCode" required>
        <button type="button" id="confirmButton">인증확인</button>
        <p id="timer">3:00</p>
    </div>
    <br>
    <label for="admin">관리자:</label>
    <input type="checkbox" id="admin" name="admin">
    <div id="adminTokenContainer" style="display: none;">
        <label for="adminToken">관리자 토큰:</label>
        <input type="text" id="adminToken" name="adminToken">
    </div>
    <label for="organizer">주최자:</label>
    <input type="checkbox" id="organizer" name="organizer">
    <br>
    <button type="button" id="submitButton" disabled>회원가입</button>
</form>

<script>
    // 메인화면 가기
    function goHome() {
        // 로그인 페이지로 이동
        window.location.href = '/';
    }

    // 로그인하러 가기
    function goLogin() {
        // 로그인 페이지로 이동
        window.location.href = '/api/users/login-page';
    }

    const sendVerificationButton = document.getElementById('sendVerification');
    const verificationContainer = document.getElementById('verificationContainer');
    const verificationCodeInput = document.getElementById('verificationCode');
    const signupForm = document.getElementById('signupForm');
    const submitButton = document.getElementById('submitButton');
    const confirmButton = document.getElementById('confirmButton');

    const usernameInput = document.getElementById('username');
    const passwordInput = document.getElementById('password');
    const nicknameInput = document.getElementById('nickname');
    const emailInput = document.getElementById('email');
    const adminCheckbox = document.getElementById('admin');
    const adminTokenContainer = document.getElementById('adminTokenContainer');
    const adminTokenInput = document.getElementById('adminToken');
    const organizerCheckbox = document.getElementById('organizer');

    adminCheckbox.addEventListener('change', () => {
        if (adminCheckbox.checked) {
            adminTokenContainer.style.display = 'block';
        } else {
            adminTokenContainer.style.display = 'none';
        }
    });

    const timerElement = document.getElementById('timer');

    sendVerificationButton.addEventListener('click', async () => {
        if (usernameInput.value && passwordInput.value && nicknameInput.value && emailInput.value) { // 닉네임이 입력되어야만 인증 메일 발송 가능
            submitButton.disabled = false;
            sendVerificationButton.style.display = 'none';
            verificationContainer.style.display = 'block';
            // 인증 메일 보내기
            const response = await fetch('/api/users/sign-up/mail-confirm', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: emailInput.value
                })
            });

            if (response.ok) {
                startCountdown(); // 타이머 시작
                const responseData = await response.json();
                console.log(responseData.statusMessage);
            } else {
                verificationContainer.style.display = 'none';
                sendVerificationButton.style.display = 'block';
                const responseData = await response.json();
                console.error(responseData.statusMessage);
                alert(responseData.statusMessage);
            }
        } else {
            alert('모든 필드를 입력해주세요.');
        }
    });

    confirmButton.addEventListener('click', async () => {
        if (verificationCodeInput.value) {
            // 인증 확인
            const verifyResponse = await fetch('/api/users/sign-up/verify-code', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: emailInput.value,
                    verificationCode: verificationCodeInput.value
                })
            });

            if (verifyResponse.ok) {
                clearInterval(countdownInterval); // 타이머 중지
                const responseData = await verifyResponse.json();
                console.log(responseData.statusMessage);
                alert(responseData.statusMessage);
                verificationContainer.style.display = 'none';
                submitButton.disabled = false; // submitButton 활성화
            } else {
                const responseData = await verifyResponse.json();
                console.error(responseData.statusMessage);
                alert(responseData.statusMessage);
            }
        } else {
            alert('인증 코드를 입력해주세요.');
        }
    });

    submitButton.addEventListener('click', async () => {
        const signupResponse = await fetch('/api/users/sign-up', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: usernameInput.value,
                password: passwordInput.value,
                email: emailInput.value,
                nickname: nicknameInput.value,
                admin: adminCheckbox.checked,
                adminToken: adminTokenInput.value,
                organizer: organizerCheckbox.checked
            })
        });

        if (signupResponse.ok) {
            const responseData = await signupResponse.json();
            console.log('회원가입 성공');
            alert(responseData.statusMessage);

            // 회원가입 성공 시 로그인 페이지로 이동
            window.location.href = '/api/users/login-page';
        } else {
            const responseData = await signupResponse.json();
            console.error('회원가입 실패:', signupResponse.status);
            alert(responseData.statusMessage);
        }
    });

    // 타이머 시작 시간 (3분)
    let countdownInterval;
    let remainingTime = 180; // 3 * 60 (3분을 초로 환산)

    function updateTimerDisplay() {
        const minutes = Math.floor(remainingTime / 60);
        const seconds = remainingTime % 60;
        const formattedTime = `${minutes}:${seconds.toString().padStart(2, '0')}`;
        timerElement.textContent = formattedTime;
    }

    function startCountdown() {
        clearInterval(countdownInterval); // 기존의 카운트다운 인터벌을 초기화
        remainingTime = 180; // 타이머를 다시 3분으로 초기화
        updateTimerDisplay(); // 초기화한 타이머를 표시

        countdownInterval = setInterval(() => {
            if (remainingTime > 0) {
                remainingTime--;
                updateTimerDisplay();
            } else {
                clearInterval(countdownInterval);
                showExpirationWarning();
            }
        }, 1000); // 1초마다 카운트다운
    }


    function showExpirationWarning() {
        // 인증 코드 만료 경고창 보이기
        alert('인증 코드가 만료되었습니다. 다시 인증 메일을 발송해주세요.');
        verificationContainer.style.display = 'none';
        sendVerificationButton.style.display = 'block';
    }

</script>
</body>
</html>

