<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>LAFESTA</title>

    <link rel="stylesheet" href="../../../../../Likefesta_front/css/login.css">
    <link href="../../../../../Likefesta_front/css/slides.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" as="font"
          href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700|Material+Icons"/>
    <link rel="stylesheet" href="../../../../../Likefesta_front/css/slides.css">

    <script src="../../../../../Likefesta_front/js/slides.js"></script>
    <script src="../../../../../Likefesta_front/js/jquery.min.js"></script>
    <script src="../../../../../Likefesta_front/js/plugins.js"></script>
</head>

<body class="background" style="background-image:url(../../../../../Likefesta_front/assets/img/background/img-3.jpg)"></body>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
    <symbol id="logo" viewBox="0 0 212 62"><title>lafesta logo</title>
        <image x="0" y="0" width="212" height="62" href="assets/img/logo-s1.png"/>
    </symbol>
</svg>

<div class="left">
    <a href="index.html" title="Slides Framework">
        <img src="../../../../../Likefesta_front/assets/img/logo-s1.png" width="270" height="240" alt="lafesta logo">
    </a>
</div>

<div class="login-box">
    <h2>LFESTA Login</h2>
    <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
        </a>
        <br>
        <a href="signup.html">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Signup
        </a>
        <br>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Kakao Login
        </a>
    </form>
</div>
</html>